{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Kalit so'zni o'zgartirish{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow border-0">
                <div class="card-header bg-success text-white text-center">
                    <h3 class="mb-0">Kalit so'zni o'zgartirish</h3>
                </div>
                <div class="card-body">
                    <p>Avval eski kalit so'zni, keyin esa yangi kalit so'zni ikki marotaba kiriting</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-success">O'zgartirish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
